<div *ngIf="url!='/login' && url!='/'">
<div class="navbar">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Blade_Runner_box.svg/1200px-Blade_Runner_box.svg.png" style="height: 50px; width: auto" />
  <ngx-avatar name="Sasa Popovic" />
</div>
<div class="side_content_basis">
  <div class="sidebar">
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/login">Sign out</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet/>
  </div>
</div>
</div>
<div *ngIf="url=='/login' || url=='/'">
  <router-outlet/>
</div>
